<!doctype html>
<html lang="es">
  <head>
    {% render "head", metadata: site.metadata, title: page.title %}
  </head>
  <body class="{{ page.layout }} {{ page.page_class }}" data-controller="contact">
    {% render "navbar", metadata: site.metadata, page: page %}
    <main>
      <section id="vacantes">
				<div class="flex justify-center h-full items-center flex-col pt-20">
					<p class="w-11/12 text-gray-100 text-xl md:text-2xl leading-snug font-normal mt-10">
						Creditario, la plataforma de gestión de créditos y motor bancario, te invita a formar parte de su equipo. En este sitio encontrarás las oportunidades para las que estamos recibiendo información de las personas que desean postularse para alguna de nuestras vacantes.
					</p>
					<div class="w-10/12 bg-white rounded-lg p-5 mb-3">
						<p class="font-medium text-3xl mb-5">
							{{page.position}}
						</p>
						<div>
							<div class="flex justify-center items-center flex-col">
								<div class="w-full p-5">
									<p class="m-0">
										{{page.intro_2}}
									</p>
								</div>
								<div class="w-full p-5">
									<p class="font-medium text-2xl m-0">
										Acerca de la vacante
									</p>
								</div>
								<div class="w-full p-5">
									<p class="px-3">
										{{page.description}}
									</p>
								</div>
								<div class="w-full p-5">
									<p class="font-medium text-2xl m-0">
										¿Qué buscamos?
									</p>
								</div>
								<div class="w-full p-5">
									<p class="px-3">
										Buscamos a una persona que cumpla con los siguientes requisitos:
									</p>
									<ul class="px-3">
										{% for skill in page.skills %}
											<li>- {{skill}}</li>
										{% endfor %}
									</ul>
								</div>
								<div class="w-full p-5">
									<p class="font-medium text-2xl m-0">
										¿Qué ofrecemos?
									</p>
								</div>
								<div class="w-full p-5">
									<p class="px-3">
										{{page.offer}}
									</p>
								</div>
								<div class="w-full p-5">
									<p class="font-medium text-2xl m-0">
										¿Cómo aplicar?
									</p>
								</div>
								<div class="w-full p-5">
									<p class="px-3">
										Envía tu curriculum acompañado de una breve presentación a la dirección de correo electrónico.
									</p>
									<p class="px-3 text-xl underline">
										empleo@creditar.io
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			{% render "contact_modal", metadata: site.metadata %}
    </main>
    {% render "footer", metadata: site.metadata %}
  </body>
</html>